home/*
public_html/config.php
public_html/data/*
public_html/tmp/*
public_html/vendor
public_html/uploads_images/*
public_html/data
public_html/build
public_html/builds
public_html/screens
archive/*
tmp/*
data/*
images/*
uploads/*
scraper/data/*
scraper/images/*
app.log
.bash_history
.bash_logout
.bashrc
.gitconfig
.gnupg
.config
.cache
.links2
.local
.nano_history
.profile
.rediscli_history
.wget-hsts
.ssh
